<div id="voteCardContainer" class="container-fluid">
  <div *ngFor="let cand of candidates" class="container panel panel-default">
    <div class="col-xs-7" >
      <div>
        <p><span class="title">{{cand.name}}</span>  <span class="number">{{cand.number}}号</span></p>
        <div class="thoughts">{{cand.thoughts}}</div>
      </div>
      <div>
        <button type="button" class="btn btn-danger " (click)="upVote(cand.number)">投TA一票</button>
        <a [routerLink]="['./', cand.number]" class="detail">详情</a>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="container-fluid img-thumbnail thumb-container">
        <img class="thumb" [src]="cand.imageFileName" alt="Thumb">
      </div>
      <div class="ticket-text">{{cand.upCount}} 票</div>
    </div>
  </div>
</div>

