#voteCardContainer {
  text-align: center;
  background-color: #c97558;
}

#voteCardContainer .panel {
  display: inline-block;
  text-align: left;
  margin: 25px 15px;
  min-width: 255px;
  max-width: 270px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
@media (max-width: 400px) {
  #voteCardContainer .panel {
    margin: 20px 0px;
  }
}
.title {
  font-family: 黑体;
  font-size:17px;
  font-weight: bold;
  color: #ff6857;
}
.number {
  font-size: 12px;
  color: #ff6857;
}
.thoughts {
  font-size: 13px;
  font-weight: bold;
  color: #ff7818;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: dashed 1px;
  color: #ff6857;
}
.ticket-text {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #ff6857;
}
.thumb-container {
  position: relative;
  padding: 0;
  height: 90px;
  top: -25px;
  width: auto;
  overflow: hidden;
}
.thumb {
  display: block;
  width: auto;
  height: 100%;
}
