.navbar {
  position: absolute;
  z-index: 1;
  top: 148px;
  width:100%;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
}
.navbar-nav .collapse{
  display: block;
  overflow: hidden;
  max-height: 0;

  -moz-transition:    all 700ms ease;
  -webkit-transition: all 700ms ease;
  -o-transition:      all 700ms ease;
  -ms-transition:     all 700ms ease;
  transition:         all 700ms ease;
}
.navbar:hover .navbar-nav .collapse {
  display: block;
  max-height: 150px;
}

.navbar-inverse {
  background-color: rgba(10,10,20,0.85);
}
.nav-item-sub-list {
  list-style: none;
  padding:0;
  margin:0;
}
.nav-item-sub-list li {
  padding-left:25px;
  margin-top: 4px;
  margin-bottom: 10px;
}
.nav-item-sub-list a {
  display: block;
  text-decoration: none;
  color: #888;
}
.nav-item-sub-list a:hover {
  color: #FFF;
}
.navbar-brand img {
  position: absolute;
  top: -80px;
  width: 120px;
  height: 120px;

}
