<nav id="mainNav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navStrip">
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
      </button>

      <a [routerLink]="['']" class="navbar-brand" >
        <img class="img-rounded" src="assets/icon.JPG" />
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navStrip">
      <ul class="nav navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['/posts']">Posts</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['/projects']">Projects</a>
          <div class="collapse">
            <ul class="nav-item-sub-list">
              <li><a href="#">CUDA</a></li>
              <li><a href="#">Android</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['/testground']">Test Ground</a>
          <div class="collapse">
            <ul class="nav-item-sub-list">
              <li><a [routerLink]="['/testground/vote']">Vote</a></li>
              <li><a href="#">Animations</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
